<p class ="projectsptag">crutch</p>
<p> {{thing}}</p>
<label for="currentSpeaker"> select speakers: </label>
    <select name="repeatSelect" ng-model="speakers.currentSpeaker">
      <option ng-repeat="user in speakers" value="{{user._id}}">{{user.firstname}}</option>
    </select>
<div>
    <button class="btn btn-danger btn-sm" ng-click="count1 = count1 + 1" ng-init="count1=0">Um/Ahs</button>
<span>count: {{count1}}</span>

</div>
<br>
<div>
    <button class="btn btn-info btn-sm" ng-click="count2 = count2 + 1" ng-init="count2=0">And</button>
<span>count: {{count2}}</span>

</div>
<br>
<div>
    <button class="btn btn-success btn-sm" ng-click="count3 = count3 + 1" ng-init="count3=0">So</button>
<span>count: {{count3}}</span>

</div>