<p class ="projectsptag">Um/Ah counts</p>
<!--<p> {{thing}}</p>-->
<label for="currentSpeaker"> Select speaker: </label>
    <select name="repeatSelect" ng-model="speakers.currentSpeaker">
      <option ng-repeat="user in speakers" value="{{user._id}}">{{user.firstname}}</option>
    </select>
<!--<br>-->

 <label for="currentSession"> select session: </label>
    <select name="repeatSession" ng-model="sessions.currentSession">
      <option ng-repeat="session in sessions" value="{{session._id}}">{{session.sessionName}}</option>
    </select>
<div>
  <br>
    <button class="btn btn-danger btn-lg" ng-click="ahCount = ahCount + 1" ng-init="ahCount=0">Ah's</button>
<span>ahCount: {{ahCount}}</span>

</div>
<br>
<div>
    <button class="btn btn-info btn-lg" ng-click="andCount = andCount + 1" ng-init="andCount=0">And</button>
<span>andCount: {{andCount}}</span>

</div>
<br>
<div>
    <button class="btn btn-success btn-lg" ng-click="soCount = soCount + 1" ng-init="soCount=0">So's</button>
<span>soCount: {{soCount}}</span>

</div>
<br>
<div>
    <button class="btn btn-info btn-lg" ng-click="likeCount = likeCount + 1" ng-init="likeCount=0">like</button>
<span>likeCount: {{likeCount}}</span>

</div>
<br>

<div>
    <button class="btn btn-danger btn-lg" ng-click="pauseCount = pauseCount + 1" ng-init="pauseCount=0">pauses</button>
<span>pauseCount: {{pauseCount}}</span>

</div>