<!--<p> timer</p>-->
<label for="currentSpeaker"> select speakers: </label>
    <select name="repeatSelect" ng-model="speakers.currentSpeaker">
      <option ng-repeat="user in speakers" value="{{user._id}}">{{user.firstname}}</option>
    </select>

<div ng-app="tasksApp" ng-controller="TimerController">

    <div ng-repeat="options in stopwatches">
        <div bb-stopwatch options="options">
            <div class="container">
              <div class="stopWatch numbers">
                {{options.elapsedTime | stopwatchTime}}
               </div>
             <div>
               <button class="btn btn-success btn-lg" ng-click="startTimer()">Start</button>
              <button class="btn btn-danger btn-lg " ng-click="stopTimer()">Stop</button>
              <button class="btn btn-info btn-lg" ng-click="resetTimer()">Reset</button>
             </div>
            </div>
        </div>
        <div class="log" ng-repeat="log in options.log">
            {{log/1000}} seconds
        </div>
    </div>
</div>